img{
  margin-bottom: 5em;
  width: 600px;
  border-radius: 20px;
}
#about{
  margin-top: 7em;
}
h1{
  font-family: 'Courier New', Courier, monospace;
  color: #2F2E74;
}
p{
  color: #063002;
  font-weight: 600;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.vote{
  border: none;
  background-color: #9664A2;
  height: 40px;
  width: 200px;
  color: white;
  border-radius: 20px;
}
.vote:hover{
  background-color: #e894f0;
  color: black;
}