<div class="container">
  <div class="row pr-4">
    <div class="col-md-6" id="about">
      <h1 style="text-align:center;"> Why I write Quotes</h1>
      <p style="text-align: center;">Because I feel misunderstood, I guess. Because it never comes out clearly enough
        when I tries to speak.
        Because I want to rephrase the world, to take it in and give it back again differently,
        so that everything is used and nothing is lost. Because it’s something to do to pass the time until
        I am old enough to experience the things I write about,don't know about you!</p>

    </div>
    <div class="col-md-6 mt-0">
      <img [src]=myImage>
    </div>
  </div>
  <div class="d-flex justify-content-around">
    <button id="add-quote" class="btn btn-success">Add Quote</button>
    <button id="vote" class="btn btn-success">Vote for a Quote</button>
   </div> </div>
